.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 8rem auto;
    background-color: rgba(195, 25, 25, 0.05);
    padding: 3rem 2rem;
    border-radius: 20px;
    gap: 16px;
}
.depoimento span {
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--vermelho);
}


.depoimento h2 {
    font-family: var(--fonte-padrao);
    color: var(--cinza-900);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    max-width: 70%;
    margin: 2rem 0;
}

.depoimento img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: block;
}

.depoimento span.nome {
    font-family: var(--fonte-padrao);
    color: var(--cinza-900);
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 16px;
}

.depoimento span.cargo {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    color: var(--cinza-500);
}