header {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
}

.header__titulo {
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 16px;
    color: var(--vermelho);
}

.header__quest {
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 48px;
    color: var(--cinza-900);
}

.header__info {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza-500);
    width: 792px;
}