.vagas-abertas {
    padding-top: 4rem;
}

.vagas-abertas span.area-principal {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    font-size: 20px;
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--cinza-900);
}

.vaga {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.vaga span.titulo-vaga {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 16px;
}

.vaga .informacoes {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    margin-top: 1rem;
    font-size: 90%;
    color: var(--cinza-500);
    display: flex;
    gap: 2rem;
}