@import "css/navigation.css";
@import "css/header.css";
@import "css/section_sobre.css";
@import "css/talentos.css";
@import "css/vagas.css";
@import "css/depoimentos.css";
@import "css/footer.css";


:root{
    --branco: #FFF;
    --primaria: #3A404E;
    --cinza-50: #F9FAFB;
    --cinza-200: #EAECF0;
    --cinza-500: #667085;
    --cinza-900: #101828;
    --vermelho: #8E2424;
    --vermelho-rgb: 142, 36, 36;
    --vermelho-depoimentos-rgb: 195, 25, 25;;
    --fonte-padrao: 'Inter', sans-serif;
}

body {
    background-color: var(--branco);
    width: 100vw;
    height: 100vh;
}

.btn {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    font-size: 16px;
    padding: 10px 18px;
}

.btn-fill {
    background: var(--vermelho);
    color: var(--branco);
    border-radius: 8px;
    border: 1px solid var(--vermelho);
}

.btn-nofill {
    background: transparent;
    color: var(--cinza-500);
    border: 0px;
}